@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');
/* ===== RESET ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



/* ===== GLOBAL STYLES ===== */

:root {

    /* === COLORS === */
    --YELLOW: #F4D04E;
    --GRAY-500: #6B6B6B;
    --GRAY-950: #111111;
    --WHITE: #FFFFFF;

    /* === FONTS === */
    --LINE-HEIGHT: 150%;
    --LETTER-SPACING: 0px;

    /* === SPACING === */
    --SPACING-300: 24px;
    --SPACING-150: 12px;
    --SPACING-100: 8px;
    --SPACING-50: 4px;
}

.text_preset_1 {
    font-family: "Figtree";
    font-size: 24px;
    line-height: var(--LINE-HEIGHT);
    letter-spacing: var(--LETTER-SPACING);
    font-weight: 800;
}

.text_preset_2 {
    font-family: "Figtree";
    font-size: 16px;
    line-height: var(--LINE-HEIGHT);
    letter-spacing: var(--LETTER-SPACING);
    font-weight: 500;
}

.text_preset_3 {
    font-family: "Figtree";
    font-size: 14px;
    line-height: var(--LINE-HEIGHT);
    letter-spacing: var(--LETTER-SPACING);
    font-weight: 500;
}

.text_preset_3_c500 {
    font-family: "Figtree";
    font-size: 14px;
    color: var(--GRAY-500);
    line-height: var(--LINE-HEIGHT);
    letter-spacing: var(--LETTER-SPACING);
    font-weight: 500;
}

.text_preset_3_bold {
    font-family: "Figtree";
    font-size: 14px;
    line-height: var(--LINE-HEIGHT);
    letter-spacing: var(--LETTER-SPACING);
    font-weight: 800;
}

#heading_element:hover {
    cursor: pointer;
    color: var(--YELLOW);
}

.shadow_bg {
    border: 1px solid var(--GRAY-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0px black;
    background-color: var(--WHITE);
}

body {
    min-height: 100dvh;
    color: var(--GRAY-950);
    font-family: "Figtree";
    background-color: var(--YELLOW);
    display: grid;
    place-content: center;
}

img {
    display: block;
    max-width: 100%;
}

/* ===== BLOG CARD ===== */

@media (max-width: 374px) {
    .blog_card {
        width: 280px;
    }

    #heading_element{
        font-size: 19px;
    }
}

@media (min-width: 375px) {
    .blog_card {
        max-width: 327px;
    }
    #heading_element{
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .blog_card {
        max-width: 384px;
    }
    #heading_element{
        font-size: 24px;
    }

    .text_preset_3_c500{
        font-size: 16px;
    }
}


.blog_card {
    margin: auto;
    padding: 24px;
    display: flex;
    gap: 24px;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.blog_card > img{
    border-radius: 10px;
}

.text{
    display: flex;
    gap: 12px;
    flex-flow: column;
}

.learning{
    max-width: 80px;
    background-color: var(--YELLOW);
    text-align: center;
    padding: 4px 12px;
}

.avatar{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

#avatar img{
    width: 32px;
}

#avatar p{
    width: 85px;
    text-align: center;
}

/* ===== FOOTER ===== */

.attribution {
    position: absolute;
    bottom: 0px;

    width: 100%;

    font-size: 11px;
    text-align: center;
    padding: 10px;
    background-color: rgb(64, 146, 119);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}